header {
  height: 40px;
  border :1px solid;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
#maindiv {
  display: flex;
  border: 1px solid;
  width: auto;
  
}
#content {
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  padding: 20px 30px;
  overflow: auto;
  position: absolute;
  background-color: rgb(232, 232, 232);
  border-top: 1px solid rgb(150, 135, 135);
  border-bottom: 1px solid rgb(150, 135, 135);
}
#left {
  border: 1px solid;
  width: 70%;
  padding: 10px;

}

#right {
  width: 30%;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  background-color: rgba(100, 148, 237, 0.537);
}

img {
  width: 70%;
  margin: 10px;
  border-radius: 50%;
}

.headlings {
  font: bold 20px B Koodak;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  color: rgb(139, 0, 0);
  margin-bottom: 30px;
}

label {
  width: 50%;
  font: bold 18px B Koodak;
  text-align: left;
}

section div {
  position: relative;
}

.divlbl {
  display: flex;
  padding: 7px;
  flex-wrap: wrap;
  word-wrap: break-word;
}

p,
h2 {
  color: rgb(255, 145, 0);
  text-align: left;
  padding: 3px 5px;
  word-wrap: break-word;
}

h4 {
  text-align: left;
  padding: 1px 0px;
  width: 50%;
  word-wrap: break-word;
}

footer {
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.btn {
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  margin: 12px;
}

.hireMe {
  background-color: white;
  color: black;
  border: 2px solid #0000ff;
}

.btn:hover {
  background-color: #0044ff;
  color: white;
}

.row {
  display: grid;
 
}
.row label {
  color: rgb(0, 0, 0);
  font-size: 18px;
}

#hire {
  border: 2px dashed;
  padding: 10px;
  max-width: 500px;
  margin: 10px 0px;
  display: none;
}

#email{
  cursor: pointer;
  color: blue;
}